.video {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  box-shadow: var(--clr-blue-900) 0px 20px 25px -5px,
    var(--clr-red-500) 0px 10px 10px -5px;
}

.video iframe {
  width: 100%;
  height: 100%;
}
