@import 'mixins';

.slider {
  position: relative;
}

.slide {
  position: relative;
  cursor: ew-resize;
  isolation: isolate;

  figcaption {
    position: absolute;
    left: 80px;
    bottom: 38px;
    max-width: 64ch;
    z-index: 2;
    cursor: text;
  }

  figcaption h2 {
    display: none;
    font-weight: 600;
    text-shadow: 2px 2px 0px #00000070;
    user-select: all;
  }

  figcaption p {
    display: none;
    margin-top: 8px;
    user-select: all;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: linear-gradient(
      0deg,
      hsl(0deg 0% 0%) 0%,
      hsl(339deg 0% 0%) -2%,
      hsla(56deg, 100%, 16%, 0) 34%,
      hsla(55deg, 100%, 50%, 0) 100%
    );
  }
}

.arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 30px 24px;
  border: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: 300ms ease-out;
  opacity: 0;

  @include mediaHover {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}

.slider {
  @include mediaHover {
    .arrow {
      opacity: 1;
    }
  }
}

.arrowLeft {
  left: 0;
  transform: translateY(-50%);

  svg {
    transform: rotate(180deg);
  }

  &:active {
    svg {
      transition: 100ms ease-out;
      transform: rotate(180deg) translateX(1px);
    }
  }
}

.arrowRight {
  right: 0;
  transform: translateY(-50%);

  &:active {
    svg {
      transition: 100ms ease-out;
      transform: translateX(1px);
    }
  }
}

.dots {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.dot {
  flex-basis: 100%;
  border: none;
  height: 2px;
  background-color: var(--clr-slider-dot);
  transition: background-color 300ms ease-out;
  cursor: pointer;
}

.dotActive {
  background-color: var(--clr-slider-dot-active);
}

.tags {
  margin-top: 8px;
  display: none;
  gap: 10px;

  li {
    padding: 4px 12px;
    font-weight: 500;
    background-color: rgb(0 0 0 / 36%);
    list-style: none;
  }
}

.trailer {
  position: absolute;
  inset: 0;
  z-index: 4;
  background-color: rgb(0, 0, 0);

  @include mediaHover {
    button {
      opacity: 1;
    }
  }
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  text-align: center;

  svg g {
    fill: var(--clr-neutral-50);
  }
}

.trailerClose {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  border-radius: 100vmax;
  padding: 8px;
  cursor: pointer;
  transition: 100ms ease-out;

  svg {
    fill: var(--clr-neutral-50);
  }
}

.playButton,
.trailerClose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #0000004a;
  border: 1px solid rgba(167, 167, 167, 0.3);
  border-radius: 100vmax;
  transition: 200ms ease-out;

  @include mediaHover {
    background-color: rgba(0, 0, 0, 0.335);

    svg {
      transition: 300ms ease-out;
      transform: scale(0.9);
    }
  }
}

@include media('xl') {
  .slide {
    figcaption h2,
    figcaption p {
      display: block;
    }
  }

  .arrow {
    // display: block;
  }

  .tags {
    display: flex;
  }

  .trailerClose {
    opacity: 0;
    padding: 12px;
  }
}
