@import 'mixins';

.grid {
  display: grid;
  justify-items: start;
  grid-auto-rows: 1fr;

  grid-template-columns: repeat(var(--cols-sm), minmax(0, 1fr));
  gap: var(--gap-sm);

  @include media('md') {
    grid-template-columns: repeat(var(--cols-md), minmax(0, 1fr));
    gap: var(--gap-md);
  }

  @include media('lg') {
    grid-template-columns: repeat(var(--cols-lg), minmax(0, 1fr));
    gap: var(--gap-lg);
  }
}
