{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react-hooks",
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "custom",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-perf/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "strict": ["error", "never"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "jsx-a11y/lang": "error",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/jsx-max-depth": ["error", { "max": 10 }],
    "react/no-string-refs": ["error", { "noTemplateLiterals": true }],
    "react/no-unsafe": ["error", { "checkAliases": true }],
    "react-perf/jsx-no-new-function-as-prop": 0,
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "react/boolean-prop-naming": [
      "error",
      {
        "rule": "^(is|has|are|can|should|did|will)[A-Z]([A-Za-z0-9])+",
        "validateNested": true
      }
    ],
    "react/jsx-no-target-blank": ["error", { "forms": true }],
    "react/jsx-key": [
      "error",
      { "checkFragmentShorthand": true, "checkKeyMustBeforeSpread": true }
    ],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "invalidHref", "preferButton" ]
    }]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}