.loadingTape {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  min-height: 99vh;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background: rgba(199, 199, 199, 0);
  filter: invert(70%);
}

.loadingTapeMover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 5526px;
  min-height: 99vh;
  background-size: contain;
  transform: translate3d(0, 0, 0);
  animation: moveSlideshow 2s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-70%);
  }
}
