.loadingTape {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background: rgb(199, 199, 199);
}

.loadingTapeMover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 2526px;
  min-height: 100vh;
  background-size: contain;
  transform: translate3d(0, 0, 0);
  animation: moveSlideshow 2s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66%);
  }
}
