@import '@/styles/mixins.scss';

button { 
  background: transparent;
  border: 0;
}

.paginationWrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.3s ease-out;
}

.pagination {
  display: flex;
  padding: 4px;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.514);
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 5px 10px 5px #0000008f;
  border: 1px solid #252525;
  transition: all 0.3s ease-out;

  &:hover {
    background: rgba(0, 0, 0, 0.808);

    & > * {
      opacity: 1;
    }
  }
}

.paginationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0;
  @include fluid(padding-left, 8, 16);
  @include fluid(padding-right, 8, 16);
  margin: auto 4px;
  height: 32px;
  text-align: center;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.705);
  letter-spacing: 0.01071em;
  line-height: 1.43;
  border-radius: 100px;
  user-select: none;
  opacity: 0.3;

  &.dots {
    display: none;
    color: rgb(95, 95, 95);
    transform: translateY(-8px);
    @include media(374) {
      display: block;
    };
  }

  &.dots:hover {
    color: rgb(95, 95, 95);
    background-color: transparent;
    cursor: default;
  }

  &:hover {
    color: rgba(255, 255, 255, 0.959);
    background-color: rgba(47, 0, 255, 0.185);
    cursor: pointer;
    opacity: 1;
  }

  &.selected {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.959);
    background-color: rgba(153, 0, 0, 0.712);
    opacity: 1;
    animation: selectedAnim 0.3s;
  }

  &.disabled {
    pointer-events: none;
    color: rgb(95, 95, 95);

    &:hover {
      cursor: default;
    }
  }
}

.arrow {
  font-size: 24px;
}

.paginationForward {
  animation: paginationForwardAnim 1s;
}

.paginationBackward {
  animation: paginationBackwardAnim 1s;
}

@keyframes selectedAnim {
  0% {
    background-color: rgba(153, 0, 0, 0.712);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(153, 0, 0, 0.712);
  }
}

@keyframes paginationForwardAnim {
  from {
    opacity: 0.3;
    transform: translateX(50%) skew(-4deg);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes paginationBackwardAnim {
  from {
    opacity: 0.3;
    transform: translateX(-50%) skew(4deg);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
