.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.primary {
  background: #26000091;
  color: #d8d8d8;
  border: 1px solid #ff00004f;
  box-shadow: var(--cool-shadow);
  transition: all 300ms ease-out;

  @media (hover: hover) {
    background: #260000e7;
    box-shadow: var(--cool-shadow-hover);
  }
}
