@import '../../scss/mixins.scss';

.tabs {
  display: flex;
  justify-content: center;
  position: relative;

  &__tab-item,
  &__tab--active {
    @include fluid(padding, 16, 24);
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    border: 0;
    border-bottom: 3px solid transparent;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__tab--active {
    cursor: none;
    pointer-events: none;
    border-bottom: 3px solid red;
  }

  &__tab-icon {
    @include fluid(width, 50, 80);
    min-width: 50px;
    max-width: 80px;
    margin: 0 auto;
    will-change: transform;
    transition: transform 0.3s;
    text-shadow: 1px 1px 2px black;
  }

  &__tab-title {
    position: relative;
    margin-top: auto;
    @include fluid(padding-top, 16, 24);
    @include fluid(font-size, 12, 20);
    font-weight: 700;
  }

  &__tab-title::after {
    content: attr(data-text);
    position: absolute;
    height: 100%;
    white-space: nowrap;
    transform-origin: 100% 50%;
    transform: translate3d(150%, 0, 0);
    transition: transform 0.25s cubic-bezier(0.5, 0.5, 0.3, 1);
    will-change: transform;
  }

  &__tab-item:hover &__tab-title::after {
    transform: translate3d(-100%, 0, 0);
  }

  &__tab-title span {
    display: inline-block;
    transition: transform 0.25s cubic-bezier(0.5, 0.5, 0.3, 1);
  }

  &__tab-item:hover span {
    transform: translate3d(-150%, 0, 0);
  }
}
