@import 'scss/mixins.scss';
@import 'scss/vars.scss';
@import 'scss/functions.scss';

.tabs {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px 0 5px 0;
}

.tabItem {
  @include fluid(padding, 16, 24);
  @include media(767) {
    display: flex;
    align-items: center;
  }
}

.tabItem,
.tabActive {
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  border: 0;

  &:focus,
  &:active {
    outline: none;
  }
}

.tabItem:hover .tabTitle::after {
  transform: translate3d(-100%, 0, 0);
}

.tabItem:hover span {
  transform: translate3d(-150%, 0, 0);
}

.tabTitle {
  position: relative;
  align-self: flex-end;
  margin-left: 10px;
  @include fluid(font-size, 16, 20);
  font-weight: 700;
  color: #ebebeb;
  text-transform: lowercase;
  overflow: hidden;
}

.tabTitle::after {
  content: attr(data-text);
  position: absolute;
  height: 100%;
  white-space: nowrap;
  transform-origin: 100% 50%;
  transform: translate3d(150%, 0, 0);
  transition: transform 0.25s cubic-bezier(0.5, 0.5, 0.3, 1);
  will-change: transform;
}

.tabTitle span {
  display: inline-block;
  transition: transform 0.25s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.tabActive {
  cursor: none;
  pointer-events: none;
  color: #7a74b1;
}
