.flex {
  display: flex;
}

.flexInline {
  display: inline-flex;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexCol {
  flex-direction: column;
}

.flexJustBet {
  justify-content: space-between;
}

.flexJustCent {
  justify-content: center;
}

.flexAlStart {
  align-items: flex-start;
}

.flexAlEnd {
  align-items: flex-end;
}

.flexAlCent {
  align-items: center;
}

.flexGrow1 {
  flex-grow: 1;
}
