.pagination {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: auto;
  max-width: max-content;
  background: rgba(0, 0, 0, 0.808);
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 5px 10px 5px #0000008f;
  border: 1px solid #252525;
  transition: all 0.3s ease-out;

  & > button {
    border: 0;
    background-color: transparent;

    & > span {
      margin: 0;
    }
  }
}

.paginationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 8px;
  margin: auto 4px;
  height: 32px;
  color: rgba(255, 255, 255, 0.705);
  border-radius: 100vmax;
  user-select: none;

  @media (hover: hover) {
    color: rgba(255, 255, 255, 0.959);
    background-color: rgba(47, 0, 255, 0.185);
    cursor: pointer;
    opacity: 1;
  }

  &.selected {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.959);
    background-color: rgba(153, 0, 0, 0.712);
    opacity: 1;
    animation: selectedAnim 0.3s;
  }

  &.disabled {
    pointer-events: none;
    color: rgb(95, 95, 95);

    @media (hover: hover) {
      cursor: default;
    }
  }
}


.dots {
  align-items: baseline;
  color: rgb(194, 194, 194);
  transform: translateY(-8px);

  @media (hover: hover) {
    background-color: transparent;
    cursor: default;
  }

}

.arrow {
  font-size: 16px;
}

@media (min-width: 567px) {
  .paginationItem {
    padding: 22px 18px;
  }

  .dots {
    padding: 22px 0px;
  }
}