.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transform-origin: left;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

// poster
.poster-enter {
  transform: rotate(0deg) translate(100%, -20px) scale(0);
}
.poster-enter-active {
  transform: rotate(355deg) translate(0, -20px) scale(1);
  transition: transform 1000ms cubic-bezier(.5,1.26,.64,1);
  transition-delay: 0.5s;
}
