.wrapper {
  margin-top: 30px;
}

.title {
  text-transform: uppercase;
  letter-spacing: 0;
  margin-top: 0;

  &a::after {
    display: inline-block;
    content: '\3009';
    font-weight: 600;
    padding-left: 10px;
    color: hsl(0deg 0% 33%);
    transition: 800ms ease-out;
  }

  @media (hover: hover) {
    &a::after {
      color: hsl(0, 0%, 90%);
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .wrapper {
    margin-top: 60px;
  }

  .title {
    margin-bottom: 24px;
  }
}