.grid {
  display: grid;
  justify-items: start;

  grid-template-columns: repeat(var(--cols-sm), minmax(0, 1fr));
  gap: var(--gap-sm);

@media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(var(--cols-md), minmax(0, 1fr));
    gap: var(--gap-md);
  }

    @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(var(--cols-lg), minmax(0, 1fr));
    gap: var(--gap-lg);
  }
}
