.wrapper {
  --max-width: 1280px;
  --padding: 20px;

  margin-inline: auto;
  max-width: min(var(--max-width), 100% - (var(--padding) * 2));

  @media (max-width: $breakpoint-md) {
    --padding: 40px;

    max-width: min(var(--max-width), 100% - (var(--padding) * 2));
  }
}