.header {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: hsla(0, 0%, 100%, 0.08);
  backdrop-filter: blur(5px) saturate(150%) hue-rotate(10deg);
  box-shadow: 0 5px 20px -10px var(--clr-neutral-900);
  transition: 0.3s;
}

.headerContent {
  padding-block: var(--spacing-300);
}

.logo {
  max-width: 100px;
  user-select: none;
}

@media (min-width: $breakpoint-lg) {
  .headerContent {
    padding-block: var(--spacing-500);
  }
}
