.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  will-change: transform;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > * {
    flex-basis: 270px;
    margin: 20px;
  }
}
