.thumbImgWrapper {
  position: relative;
  margin-bottom: 20px;
  transition: box-shadow 3s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.08) 0px 10px 10px -5px;
  
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
}

.thumbImg {
  width: 100%;
  max-width: 720px;
  transition: transform 3s;
  object-fit: cover;
  border-radius: 16px 16px 0 0;

  &:hover {
    transform: scale(1.1);
  }
}

.imgOverflowHidden {
  overflow: hidden;
}

.rating {
  position: absolute;
  bottom: -15px;
  right: -9px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  min-height: 50px;
  min-width: 50px;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  letter-spacing: 2px;
  background-color: rgba(22, 79, 255, 0.45);
  text-shadow: 2px 2px #03000066;
  box-shadow: 0px 9px 9px -5px #0000001a;
}
