.skeleton {
  position: relative;
  overflow: hidden;
  background-color: var(--color-neutral-600);
}

.skeleton::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background-color: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(rgba(255, 255, 255, 0.2)),
    to(transparent)
  );

  background-color: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );

  animation: skeleton 0.8s infinite;
}

@keyframes skeleton {
  100% {
    transform: translateX(100%);
  }
}
