@import './vars.scss';
@import './functions.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100vh;
}

body {
  height: inherit;
  font-family: 'Exo', sans-serif;
  color: shade($clr-white, 10);
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background: #252936;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, #252936 100%);

  overflow-x: hidden;
}
