@import './functions.scss';
@import 'breakpoints';


body {
  color: var(--clr-text-body);
  background-color: var(--clr-bg-body);
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--clr-bg-selection);
}

.wrapper {
  --max-width: 1280px;
  --padding: 20px;

  margin-inline: auto;
  max-width: min(var(--max-width), 100% - (var(--padding) * 2));

  @media (min-width: $md) {
    --padding: 40px;

    max-width: min(var(--max-width), 100% - (var(--padding) * 2));
  }
}
