@import 'breakpoints';
@import 'functions';

// mobile first media-query
@mixin media($viewport) {
  @media (min-width: #{map-get($breakpoints, $viewport)}) {
    @content;
  }
}

@mixin mediaHover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin full-width() {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@mixin typography($fontSize) {
  font-size: rem($fontSize);
  line-height: calcFontLineHeight($fontSize);
}
