@import './vars.scss';
@import './functions.scss';
@import 'breakpoints';

:root {
  --body-bg-gradient: linear-gradient(
    90deg,
    var(--clr-blue-900) 0%,
    var(--clr-neutral-900) 0%,
    var(--clr-slate-500) 100%
  );
}

body {
  font-family: 'Exo', sans-serif;
  color: var(--clr-neutral-100);
  background: var(--body-bg-gradient);
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: var(--clr-neutral-300);
}

.wrapper {
  --max-width: 1200px;
  --padding: 20px;

  margin-inline: auto;
  max-width: min(var(--max-width), 100% - (var(--padding) * 2));

  @media (min-width: $md) {
    --padding: 40px;

    max-width: min(var(--max-width), 100% - (var(--padding) * 2));
  }
}
