@import './vars.scss';
@import './functions.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100vh;
}

body {
  height: inherit;
  font-family: 'Exo', sans-serif;
  color: shade($clr-white, 10);
  box-sizing: border-box;
  background: $bg-main-linear;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: lighten($clr-accent, 20);
}
