:root {
    --clr-neutral-50: hsl(0, 0%, 100%);
    --clr-neutral-100: hsl(0, 0%, 90%);
    --clr-neutral-300: hsl(0, 0%, 70%);
    --clr-neutral-900: hsl(0, 0%, 0%);

    --clr-blue-900: hsl(230, 90%, 10%);

    --clr-slate-500: hsl(226, 20%, 20%);

    --clr-red-500: hsl(0, 100%, 50%);
}
