$clr-accent: #070707;
$clr-white: #ffffff;
$clr-dark: #09001d;

$header-height: 60px;

$mystic-shadow: rgb(3, 12, 51) 0px 20px 25px -5px,
  rgb(255, 18, 18) 0px 10px 10px -5px;
$mystic-shadow-hover: rgb(3, 12, 51) 0px 16px 25px -5px,
  rgb(255, 18, 18) 0px 10px 10px -5px;
