// COLORS
$clr-accent: #070707;
$clr-white: #ffffff;
$clr-dark: #09001d;

// SIZES
$header-height: 60px;

// SHADOWS
$cool-shadow: var(--clr-blue-900) 0px 20px 25px -5px,
  var(--clr-red-500) 0px 10px 10px -5px;
$cool-shadow-hover: var(--clr-blue-900) 0px 16px 25px -5px,
  var(--clr-red-500) 0px 10px 10px -5px;

// BACKGROUNDS
$bg-main-linear: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(0, 0, 0, 1) 0%,
  #252936 100%
);

// OTHER
$breakpoints: (
  'sm': 576,
  'md': 768,
  'lg': 1024,
);
